<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="1" value="F:\1. Project\Dipams\디팜스테크 소스\SMTM_DataGathering\SMTM_DataGathering\bin\Debug" />
    <add key="2" value="" />
    <add key="3" value="" />
    <add key="4" value="" />
    <add key="5" value="" />
    <add key="6" value="" />
    <add key="7" value="" />
    <add key="8" value="" />
    <add key="1p" value="C:\Users\ljh\Desktop\smtm 전송파일" />
    <add key="2p" value="" />
    <add key="3p" value="" />
    <add key="4p" value="" />
    <add key="5p" value="" />
    <add key="6p" value="" />
    <add key="7p" value="" />
    <add key="8p" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>