<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="1" value="F:\1. Project\Dipams\디팜스테크 소스\SMTM_DataGathering\SMTM_DataGathering\bin\Debug"/>
    <add key="2" value=""/>
    <add key="3" value=""/>
    <add key="4" value=""/>
    <add key="5" value=""/>
    <add key="6" value=""/>
    <add key="7" value=""/>
    <add key="8" value=""/>
    <add key="1p" value="C:\Users\ljh\Desktop\smtm 전송파일"/>
    <add key="2p" value=""/>
    <add key="3p" value=""/>
    <add key="4p" value=""/>
    <add key="5p" value=""/>
    <add key="6p" value=""/>
    <add key="7p" value=""/>
    <add key="8p" value=""/>
  </appSettings>
</configuration>